<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ReLayout</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
  <div class="sidebar">
    <ul>
      <li>Products</li>
      <li>Customers</li>
      <li>Promotions</li>
      <li>Orders</li>
      <li>Themes</li>
      <li>Settings</li>
      <li>Pages</li>
      <li><a href="index.html">Long</a></li>
      <li><a href="centered.html">Centered</a></li>
      <li><a href="footer.html">Footer</a></li>
      <li><a href="footer-long.html">Footer Long</a></li>
    </ul>
  </div>
  <div class="titlebar">
    <h4>Page Title Bar <a class="visible-xs" id="sidebar-toggle">Sidebar</a></h4>
  </div>
  <div class="content-row">
    <div class="content-cell content-cell--top-spacer"></div>
  </div>
  <div class="content-row">
    <div class="content-cell content-cell--centered">
      <i class="fa fa-lock large-grey-text"></i>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="script.js"></script>
</body>
</html>
