<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ReLayout</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
  <div class="sidebar">
    <ul>
      <li>Products</li>
      <li>Customers</li>
      <li>Promotions</li>
      <li>Orders</li>
      <li>Themes</li>
      <li>Settings</li>
      <li>Pages</li>
      <li><a href="index.html">Long</a></li>
      <li><a href="centered.html">Centered</a></li>
      <li><a href="footer.html">Footer</a></li>
      <li><a href="footer-long.html">Footer Long</a></li>
    </ul>
  </div>
  <div class="titlebar">
    <h4>Page Title Bar <a class="visible-xs" id="sidebar-toggle">Sidebar</a></h4>
  </div>
  <div class="content-row">
    <div class="content-cell content-cell--top-spacer"></div>
  </div>
  <div class="content-row">
    <div class="content-cell content-cell--main">
      <h4>Lorem ipsum dolor</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae eros et elit ornare posuere. Donec vitae nisl vel dolor lacinia posuere. Sed sit amet mi velit. Nulla varius felis quis bibendum tincidunt. Donec lacinia tristique consectetur. Donec accumsan malesuada tincidunt. Nam fringilla, augue eget vehicula mattis, sapien dolor accumsan tellus, eu tempus augue turpis ut lorem.</p>

      <p>Maecenas pretium orci a nulla ullamcorper laoreet. Quisque lacinia nunc nec mollis consectetur. Donec non felis gravida, pulvinar quam non, posuere lacus. Ut mi turpis, dictum quis tristique a, suscipit ut elit. Quisque placerat vitae nisi eu pellentesque. Duis lacinia sem nec enim dignissim dictum. Vivamus non sem at diam efficitur vestibulum. Nulla tortor elit, viverra eget tellus vel, porta malesuada dolor. Praesent bibendum sed purus et fermentum. Ut a leo ut mauris efficitur finibus ut sed libero. Maecenas enim sem, volutpat non turpis id, dictum tempor leo.</p>

      <p>Mauris tempus sit amet mauris a commodo. Vestibulum ex arcu, vulputate id arcu quis, pharetra imperdiet arcu. Nulla facilisi. Etiam mi magna, feugiat quis sagittis vitae, rutrum at nisl. Ut lectus mi, gravida nec placerat quis, scelerisque sit amet nulla. Phasellus a porta orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis ex nisl, at tristique elit aliquet sed. Mauris lorem nulla, maximus nec molestie a, tempor porttitor nunc. Sed dictum tempus ornare. Aliquam erat volutpat. Aliquam erat volutpat.</p>

      <p>Nullam quis pharetra erat. Sed aliquam dictum velit at pulvinar. Maecenas vestibulum sit amet eros non lacinia. Mauris lacinia neque sed fringilla tincidunt. Sed pulvinar, magna at ultricies auctor, leo lectus laoreet leo, sit amet congue tellus enim vel eros. Pellentesque at dui ornare, vulputate risus sed, aliquet velit. Phasellus a leo facilisis, semper felis sed, consectetur odio. Pellentesque cursus ex odio, a condimentum eros commodo a. Nunc vel orci arcu. Praesent a dapibus purus. Praesent eleifend velit quis libero sagittis, id aliquet sapien eleifend. Mauris porttitor mattis odio.</p>

      <p>Maecenas lobortis sit amet lectus nec tempor. Aliquam nec mi blandit, suscipit mauris ut, lobortis massa. Curabitur aliquam nisl sed purus consectetur, non luctus diam vehicula. Praesent ut est malesuada, ultricies massa sed, blandit enim. Suspendisse vel ornare mauris, ac ultricies eros. Nulla interdum laoreet lacinia. Sed bibendum at risus eu ultrices. Vivamus nulla enim, consequat eu dui et, ullamcorper condimentum nibh. In nunc ligula, blandit a congue et, ultricies id sem. Mauris gravida eleifend posuere.</p>
      <h4>Lorem ipsum dolor</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae eros et elit ornare posuere. Donec vitae nisl vel dolor lacinia posuere. Sed sit amet mi velit. Nulla varius felis quis bibendum tincidunt. Donec lacinia tristique consectetur. Donec accumsan malesuada tincidunt. Nam fringilla, augue eget vehicula mattis, sapien dolor accumsan tellus, eu tempus augue turpis ut lorem.</p>

      <p>Maecenas pretium orci a nulla ullamcorper laoreet. Quisque lacinia nunc nec mollis consectetur. Donec non felis gravida, pulvinar quam non, posuere lacus. Ut mi turpis, dictum quis tristique a, suscipit ut elit. Quisque placerat vitae nisi eu pellentesque. Duis lacinia sem nec enim dignissim dictum. Vivamus non sem at diam efficitur vestibulum. Nulla tortor elit, viverra eget tellus vel, porta malesuada dolor. Praesent bibendum sed purus et fermentum. Ut a leo ut mauris efficitur finibus ut sed libero. Maecenas enim sem, volutpat non turpis id, dictum tempor leo.</p>

      <p>Mauris tempus sit amet mauris a commodo. Vestibulum ex arcu, vulputate id arcu quis, pharetra imperdiet arcu. Nulla facilisi. Etiam mi magna, feugiat quis sagittis vitae, rutrum at nisl. Ut lectus mi, gravida nec placerat quis, scelerisque sit amet nulla. Phasellus a porta orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis ex nisl, at tristique elit aliquet sed. Mauris lorem nulla, maximus nec molestie a, tempor porttitor nunc. Sed dictum tempus ornare. Aliquam erat volutpat. Aliquam erat volutpat.</p>

      <p>Nullam quis pharetra erat. Sed aliquam dictum velit at pulvinar. Maecenas vestibulum sit amet eros non lacinia. Mauris lacinia neque sed fringilla tincidunt. Sed pulvinar, magna at ultricies auctor, leo lectus laoreet leo, sit amet congue tellus enim vel eros. Pellentesque at dui ornare, vulputate risus sed, aliquet velit. Phasellus a leo facilisis, semper felis sed, consectetur odio. Pellentesque cursus ex odio, a condimentum eros commodo a. Nunc vel orci arcu. Praesent a dapibus purus. Praesent eleifend velit quis libero sagittis, id aliquet sapien eleifend. Mauris porttitor mattis odio.</p>

      <p>Maecenas lobortis sit amet lectus nec tempor. Aliquam nec mi blandit, suscipit mauris ut, lobortis massa. Curabitur aliquam nisl sed purus consectetur, non luctus diam vehicula. Praesent ut est malesuada, ultricies massa sed, blandit enim. Suspendisse vel ornare mauris, ac ultricies eros. Nulla interdum laoreet lacinia. Sed bibendum at risus eu ultrices. Vivamus nulla enim, consequat eu dui et, ullamcorper condimentum nibh. In nunc ligula, blandit a congue et, ultricies id sem. Mauris gravida eleifend posuere.</p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="script.js"></script>
</body>
</html>
